.article {
  display: flex;
  border-radius: 5px;
  background-color: rgb(194, 194, 194);
  margin-top: 10px;
  padding: 10px 10px;
}

.article-content {
  flex-grow: 1;
  border-right: 2px solid rgba(0, 0, 0, 0.234);
  padding-right: 10px;
}

.article-text {
  font-size: 24px;
  font-family: 'Lato-regular';
}

.article-textarea {
  font-size: 24px;
  font-family: 'Lato-regular';
  background-color: transparent;
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  overflow: hidden;
  display: block;

}

.article-date {
  font-size: 14px;
  margin-top: 20px;
}


.article-nav {
  flex-basis: 40px;
  height: 40px;
  align-self: center;
  padding: 6px 4px 4px 4px;
  border-radius: 5px;
  margin-left: 7px;
}


.article-nav:hover {
  background-color: rgb(215, 215, 255);
  cursor: pointer;
}

.article-icon {
  flex-basis: 40px;
  width: 44px;
  height: 44px;
  padding: 5px;
  margin-left: 7px;
  align-self: center;
  border-radius: 5px;
}


.article-icon:hover {
  background-color: rgb(215, 215, 255);
  cursor: pointer;
}