.article {
  display: flex;
  border-radius: 5px;
  background-color: #e1f8dc;
  margin-top: 10px;
  padding: 10px 10px;
}

.article--active {
  border: 2px solid rgb(11, 11, 167);
}

.article-content {
  flex-grow: 1;
  border-right: 2px solid rgba(0, 0, 0, 0.234);
  padding-right: 10px;
  overflow: hidden;
}

.article-text {
  font-size: 24px;
  font-family: 'Lato-regular';
  user-select: none;
  cursor: pointer;
  word-break: break-all;
  white-space: normal;
}

.article-textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: none;
  outline: none;
  border: none;
  font-family: 'Lato-regular';
  font-size: 24px;
  background-color: transparent;
}

.article-date {
  font-size: 14px;
  margin-top: 20px;
}

.article-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
}

.article-icon {
  width: 44px;
  height: 44px;
  padding: 7px;
  margin-left: 9px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
}


.article-icon:hover {
  background-color: white;
  opacity: 1;
}

.article-icon--active {
  opacity: 1;
}